.homeH1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  transform: rotate(-45deg);
  width: 228px;
  height: 228px;
  margin: auto;
  background: linear-gradient(to top right, #9e6804 0%, #dae5ec 100%);
  color: #dae5ec;
}

.homeH1 span:nth-child(1) {
  grid-area: 1/1;
  place-self: end start;
  text-align: start;
  border-top: 6px solid #dae5ec;
  width: 100%;
}
.homeH1 span:nth-child(2) {
  writing-mode: vertical-lr;
  grid-area: 2/2;
  border-left: 6px solid #dae5ec;
}
.homeH1 span:nth-child(3) {
  grid-area: 1/2;
  place-self: end;
  border-top: 6px solid #dae5ec;
  width: 101%;
  text-align: start;
}
.homeSection,
.messageSection {
  width: 36vw;
  margin: auto;
}
.homeSection div {
  padding: 2rem 4rem;
  background: #9e6804;
  color: #dae5ec;
}
.projectSection,
.resumeSection {
  width: 66vw;
  margin: auto;
}
.projectSection h1 span,
.messageSection h1 span,
.resumeSection h1 span {
  transform: skew(-30deg);
  display: inline-block;
  background: #000;
}
.projectSection h1 span span,
.messageSection h1 span span,
.resumeSection h1 span span {
  transform: skew(50deg);
  display: inline-block;
  background: #000;
  color: #dae5ec;
  padding: 0.5rem 1rem;
}
.projectSection h1 span span span,
.messageSection h1 span span span,
.resumeSection h1 span span span {
  transform: skew(-30deg);
  display: inline-block;
}
.projectSection ul {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  list-style-type: none;
}
.projectSection ul li {
  z-index: -1;
  min-height: 12rem;
  background: #fff;
  position: relative;
  border-bottom: 2px solid #bbb;
}
.projectSection ul li:after {
  content: "";
  width: 1px;
  height: 90%;
  background: #bbb;
  position: absolute;
  right: -4px;
}

.projectSection ul li header span {
  border-radius: 0 20px 0 0;
  padding: 0.5rem;
  position: absolute;
  top: 0.25rem;
  left: 0.5rem;
  background: #dae5ec;
}

.projectSection ul li header img {
  /* border: 1px solid #9e6804; */
  min-height: 90%;
  max-width: 70%;
  border-radius: 0 20px 20px 0;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background: #dae5ec;
}

.projectSection ul li p {
  border-radius: 0 20px 20px 0;
  margin: 0 auto 0 1.5rem;
  display: none;
  background: #dae5ec;
  position: absolute;
  bottom: 0;
  right: 0;
}
.projectSection ul li a:nth-last-child(2) {
  border-radius: 25%;
  padding: 0.5rem;
  position: absolute;
  top: 33%;
  left: 0.5rem;
  background: #dae5ec;
}
.projectSection ul li a:nth-last-child(2) img {
  max-width: 1.5rem;
}
.projectSection ul li a:nth-last-child(1) {
  border-radius: 25%;
  padding: 0.5rem;
  position: absolute;
  top: 66%;
  left: 0.5rem;
  background: #dae5ec;
}
.projectSection ul li a:nth-last-child(1) img {
  max-width: 1.5rem;
}
.projectSection ul li:hover p {
  display: block;
}

.messageSection div {
  padding: 1rem;
  border-bottom: 2px solid #bbb;
  position: relative;
}
.messageSection div:before {
  content: "";
  width: 1px;
  height: 90%;
  background: #bbb;
  position: absolute;
  right: -4px;
}
.messageSection div ul {
  list-style-type: none;
  color: #9e6804;
  padding: 0;
  border-radius: 20px;
}
.messageSection div ul li {
  border: 1px solid #9e6804;
  background: #dae5ec;
  border-radius: 20px;
  padding-inline-start: 0;
  padding: 1rem;
  margin-bottom: 1px;
}
.messageSection div ul .reply {
  margin-left: 1rem;
  border-radius: 0 20px 20px;
}
.messageSection div span textarea {
  border: 1px solid #9e6804;
  width: 100%;
}
.messageSection div span button {
  position: relative;
  border: 1px solid #9e6804;
  padding: 0.5rem 1.5rem;
  background: #dae5ec;
  border-radius: 10px;
  transition-duration: 0.4s;
  overflow: hidden;
}
.messageSection div span button:after {
  content: "";
  background: #9e6804;
  display: block;
  border-top-right-radius: 10px;
  position: absolute;
  padding-top: 60%;
  padding-left: 116%;
  margin-top: -120%;
  left: -1px;
  bottom: -1px;
  opacity: 0;
  transition: all 0.4s;
}
.messageSection div span button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.messageSection div span button span {
  line-height: 0.75rem;
  font-size: 2.5rem;
}
.resumeSection div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
  text-align: start;
}
.resumeSection div span ul[class="list-none"] {
  list-style-type: none;
}
.resumeSection div span h2 {
  border-bottom: 5px solid;
  margin-left: 1.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.resumeSection div span p {
  margin-left: 1.5rem;
  margin-bottom: 0;
}
.resumeSection div span ul {
  margin-top: 0.5rem;
}
.resumeSection a {
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 3fr;
  place-items: center;
  position: absolute;
  left: 10%;
  top: 6rem;
  width: 150px;
}
.resumeSection a img {
  width: 50px;
}
