.navbar {
  position: sticky;
  top: 0;
  /* background: #dae5ec; */
  background: rgb(164, 164, 252);
  /* box-shadow: 0px 8px 20px #a8b0b6, -12px -12px 24px #ffffff; */
  padding: 2rem;
}
.navbar > a {
  position: absolute;
  left: 1rem;
  top: 1rem;
}
.navbar a img {
  width: 3rem;
}

.navbar ul {
  padding: 0;
  margin: 0;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
}
.navbar ul li a {
  text-decoration: none;
  color: #dae5ec;
  padding: 1rem;
}
.navbar ul li a[class="active"] {
  border: 1px solid #dae5ec;
  border-radius: 10px;
}

.footer {
  background: #dae5ec;
  border-top: 1px solid rgba(0, 0, 255, 0.25);
  padding: 1rem 0;
  width: 100vw;
}

.footer ul {
  padding: 0;
  margin: 0 auto;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  width: 10vw;
}
.footer ul li a {
  text-decoration: none;
  color: #9e6804;
}
.footer ul li a img {
  max-width: 2.5rem;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #dae5ec;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-right: 1px solid rgba(0, 0, 255, 0.25);
  white-space: nowrap;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #9e6804;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav > a.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* The switch - the box around the slider */
.switch {
  margin: 0 20%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.switch label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch label input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.sideLogin,
.sideSignup {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-columns: 1fr 3fr;
  margin: 2rem 1rem;
  row-gap: 1rem;
  line-height: 2rem;
}
.sideLogin input,
.sideSignup input {
  outline: none;
  border: none;
  border-radius: 0 6px;
}
.sideLogin button,
.sideSignup button {
  grid-column: 1/3;
  outline: none;
  border: none;
  border-radius: 0 6px;
  line-height: 2rem;
  width: 7rem;
  margin: 0 auto;
}
